* {
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: linear-gradient(to right, white, #fed7ad);
}

/* HOME SECTION */
.home-container {
  display:flex;
  justify-content: center;
  align-items:center;
  padding:10px;
  gap: 10px;
  flex-wrap: wrap;
}

.image-container img {
  width:300px;
  height:300px;
  border-radius:50%;
  object-fit:cover;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.intro h1 span {
  color: rgb(109,67,0);
}

.social-links {
  display:flex;
  gap:20px;
  margin:10px 0;
}

.social-links i {
  font-size:1.5rem;
  color: rgb(109,67,0);
  transition:0.3s;
}

.social-links i:hover {
  transform:scale(1.2);
}

.btn button {
  padding:10px 20px;
  background: rgb(109,67,0);
  color:white;
  border:none;
  border-radius:8px;
  cursor:pointer;
  transition:0.2s;
}

.btn button:hover {
  transform:translateY(-2px);
}

/* MODULE BUTTONS */
.module-buttons {
  display:flex;
  justify-content:center;
  gap:20px;
  margin:30px 0;
}

.module-btn {
  padding:10px 20px;
  background: #fff;
  border:2px solid rgb(109,67,0);
  border-radius:8px;
  cursor:pointer;
  transition:0.3s;
}

.module-btn:hover {
  background: rgb(109,67,0);
  color:white;
}

/* MODULES */
.module {
  max-width:600px;
  margin:20px auto;
  padding:20px;
  border-radius:10px;
  background:white;
  box-shadow:0 5px 15px rgba(0,0,0,0.2);
  display:none;
}

.module h2 {
  color: rgb(109,67,0);
  margin-bottom:10px;
}
